
TechSupport.WARE/.vs/TechSupport.WARE/FileContentIndex/1c7de46a-2427-4289-bf08-82c007c7645f.vsidx
TechSupport.WARE/.vs/TechSupport.WARE/FileContentIndex/84545a51-8301-4d89-8f53-64770378fbf4.vsidx
*.vsidx
*.cache
